{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>{{title}}</title>
</head>
<body>
    <h1 class="title">{{title}}</h1>
    {% if page_obj.has_other_pages %}
    <nav style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
<!--previous-->
        <div class="page">
            {% if page_obj.has_previous %}
                <a href="/books/?page={{page_obj.previous_page_number}}"><span>&laquo;</span></a>
            {% endif%}
        </div>
        <div class="page">
            {% if page_obj.number > 3 %}
                <a href="/books/?page=1">1</a>
            {% endif %}
        </div>
        <div class="page">
            {% if page_obj.number > 3 %}
                <p>...</p>
            {% elif page_obj.number == 3%}
                <a href="/books/?page=1">1</a>
            {% endif %}
        </div>
        <div class="page">
            {% if page_obj.has_previous%}
                <a href="/books/?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
            {% endif %}
        </div>
<!--end previous-->
        <div class="page">
            <a href="#">{{page_obj.number}}</a>
        </div>
<!--next-->
        <div class="page">
            {% if page_obj.has_next%}
                <a href="/books/?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
            {% endif %}
        </div>
        <div class="page">
            {% if page_obj.number|add:2 < page_obj.paginator.num_pages%}
                <p>...</p>
            {% elif page_obj.number|add:2 == page_obj.paginator.num_pages%}
                <a href="/books/?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
            {% endif %}
        </div>
        <div class="page">
            {% if page_obj.number|add:2 < page_obj.paginator.num_pages %}
                <a href="/books/?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a>
            {% endif %}
        </div>
        <div class="page">
            {% if page_obj.has_next %}
                <a class="page-link" href="/books/?page={{page_obj.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            {% endif %}
        </div>
<!--end next-->
    </nav>
    {% endif %}

    <form action="{% url 'filter_view' %}" method="get">
        <select name="filter" id="filter">
            <option value="title">По названию</option>
            <option value="author">По автору</option>
            <option value="genre">По жанру</option>
        </select>
        <input type="submit" value="Apply filter">
    </form>


    {% for book in page_obj %}
        <a href="{% url 'book_watch' title=book.title %}">
            <div class="book-show">
                <h2>{{book.title}}</h2>
                <div class="genre">
                    <p>{{book.genre}}</p>
                </div>
                <div class="author">
                    <p>{{book.author}}</p>
                </div>
            </div>
        </a>
    {% endfor %}

    <div class="book-show">
        {% if user.admin %}
            <p>Новая книга</p>
            <form method="post">
                {% csrf_token %}
                <label for="title">Название</label>
                <input type="text" id="title" name="title" maxlength="50" required><br>

                <label for="author">Автор</label>
                <input type="text" id="author" name="author" maxlength="50" required><br>

                <label for="genre">Жанр</label>
                <input type="text" id="genre" name="genre" maxlength="50" required><br>

                <label for="desc">Описание</label>
                <input type="text" id="desc" name="desc" required><br>

                <button type="submit">Создать</button>
            </form>
        {% elif user == None %}
            <form action="{% url 'log_in' %}" method="get">
                <button type="submit">Войти в аккаунт</button>
            </form>
        {% else %}
            <p>Вы должны быть админом, чтобы добавлять новые книги</p>
        {% endif %}
    </div>
</body>
</html>